*.pyc
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/testu.iml
*.xml
.idea/bak/testu.iml
render.html
.idea/dictionaries/samx.xml
.idea/dictionaries/samx.xml
